body {
    font-size: 18px;
    margin: 60px auto;
    max-width: 680px;
    line-height: 1.8;
    color: #555;
    padding: 0 10px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

header {
    background-color: #000;
}

img.me {
    float: right;
    padding-left: 30px;
    width: 100%;
    height: auto;
}

li img {
    vertical-align: middle;
    padding: 5px;
    width: auto;
    height: 2em;
}
