body {
    font-size: 18px;
    margin: 60px auto;
    max-width: 680px;
    line-height: 1.8;
    color: #555;
    padding: 0 10px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #f5af36;
}

    a:visited {
        color: 663300;
    }

header {
    background-color: #000;
}

img.me {
    float: right;
    padding-left: 30px;
    width: 100%;
    height: auto;
}

.skills {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style-image: none;
}

    .skills li img {
        vertical-align: middle;
        padding: 5px;
        width: auto;
        height: 1em;
    }
